<div class="single_blog_item">
  <div class="single_blog_img">
    <img src="img/team/chefs_1.png" alt="" />
  </div>
  <div class="single_blog_text text-center">
    <h3>{{ chefData.name }}</h3>
    <p>{{ chefData.speciality }}</p>
    <p
      [ngStyle]="{
        color: getColor(chefData.experience),
        'font-size': getFontSize(chefData.experience)
      }"
    >
      {{ chefData.experience }} Years
    </p>
    <div class="social_icon">
      <a href="#"> <i class="ti-facebook"></i></a>
      <a href="#"> <i class="ti-twitter-alt"></i> </a>
      <a href="#"> <i class="ti-instagram"></i> </a>
      <a href="#"> <i class="ti-skype"></i> </a>
    </div>
  </div>
</div>



