<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner text-center">
          <div class="breadcrumb_iner_item">
            <h2>Add Chef</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-section section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <form
          class="form-contact contact_form"
          #chefsForm="ngForm"
          (ngSubmit)="addChef(chefsForm)"
        >
          <div class="row">
            <div class="col-sm-6">
              <!--Name-->
              <div class="form-group">
                <input
                  class="form-control"
                  [(ngModel)]="obj.name"
                  name="name"
                  type="text"
                  placeholder="Name"
                  required
                  minlength="5"
                  #name="ngModel"
                />
                <div *ngIf="name.invalid && name.touched">
                  <small class="text-danger" *ngIf="name.errors?.['required']"
                    >Name is required</small
                  >
                  <small class="text-danger" *ngIf="name.errors?.['minlength']">
                    Name must be at least 5 chars</small
                  >
                </div>
              </div>
            </div>
            <!--Speciality-->
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  class="form-control"
                  [(ngModel)]="obj.speciality"
                  name="speciality"
                  type="text"
                  placeholder="Speciality"
                  required
                  #speciality="ngModel"
                />
                <div *ngIf="speciality.invalid && speciality.touched">
                  <small
                    class="text-danger"
                    *ngIf="speciality.errors?.['required']"
                    >Speciality is required</small
                  >
                </div>
              </div>
            </div>
            <!--Eperinece-->
            <div class="col-12">
              <div class="form-group">
                <input
                  class="form-control"
                  [(ngModel)]="obj.subject"
                  name="subject"
                  type="number"
                  placeholder="Experience"
                  required
                  min="2"
                  #experience="ngModel"
                />
                <div *ngIf="experience.invalid && experience.touched">
                  <small
                    class="text-danger"
                    *ngIf="experience.errors?.['required']"
                    >Experience is required</small
                  >
                  <small class="text-danger" *ngIf="experience.errors?.['min']"
                    >Experience must be al least two years</small
                  >
                </div>
              </div>
            </div>
          </div>
          <!--Submit-->
          <div class="form-group mt-3">
            <input
              type="submit"
              class="button button-contactForm btn_4"
              value="Add"
              [disabled]="chefsForm.invalid"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-home"></i></span>
          <div class="media-body">
            <h3>Buttonwood, California.</h3>
            <p>Rosemead, CA 91770</p>
          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-tablet"></i></span>
          <div class="media-body">
            <h3>00 (440) 9865 562</h3>
            <p>Mon to Fri 9am to 6pm</p>
          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-email"></i></span>
          <div class="media-body">
            <h3>support&#64;colorlib.com</h3>
            <p>Send us your query anytime!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
